.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#778da9, #778da9);
  transition: background 0.3s ease;
  border: 1px solid #778da9;
}

.btn-gradient:hover {
  background: linear-gradient(#8d99ae, #8d99ae);
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FCBF48;
  transition: background 0.3s ease;
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-flat:hover {
  background: #FCBF48;
  color: white;
}

.btn-delete {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#778da9, #778da9);
  transition: background 0.3s ease;
  border: 1px solid #778da9;
  font-size: 12px;
}
