.card-category-list {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
    h1 {
      margin: 0px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }
}

.movie {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  margin-bottom: 0;
}
