// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists/index";

body {
  font-family: "Comfortaa", sans-serif;;
}

a {
  text-decoration: none;
}
.toto {
  background-size: cover;
  background-position: center;
}

.create-list {
  padding: 50px 150px;
  h1 {
    padding-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

.delete {
  margin: 15px;
}

.sticky-form {
  margin: 50px 200px;
  position: sticky;
}
